{% extends 'base.html' %}

{% block page_title %} Admin Dashboard {% endblock page_title %}

{% block body_class %} class="admin_body" {% endblock body_class %}

{% block header %}
    <img src="" alt="Profile Pic">
    <button class="admin_username">{{ now_user.username }}</button>
{% endblock header %}

{% block body %}
    <!-- Add User -->
    <div class="card">
        <h1>Add User</h1>
        <form action="/admin-dashboard" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br>

            <label for="email">Email:</label>
            <input type="text" name="email" id="email"><br>

            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="ADMIN">Admin</option>
                <option value="EMPLOYEE">Employee</option>
                <option value="STUDENT">Student</option>
            </select><br>

            <input class="good_btn" type="submit" name="add_user" id="" value="Add">

        </form>

        <hr class="admin_hr">

        <h1>Add Users from a .csv file</h1>
        <form action="/admin-dashboard" enctype="multipart/form-data" method="POST">
            <input type="file" name="csv_file" id="">
            <input class="good_btn" type="submit" name="csv_add_user" id="" value="Add users">
        </form>
    </div>

    <!-- Delete User -->
    <div class="card">
        <form action="/admin-dashboard" method="POST">
            <h1>Delete User</h1>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username"><br>

            <input class="bad_btn" type="submit" name="delete_user" id="" value="Delete">
        </form>

        <hr class="admin_hr">

        <h1>Delete Users from a .csv file</h1>
        <form action="/admin-dashboard" enctype="multipart/form-data" method="POST">
            <input type="file" name="csv_file" id="">
            <input class="bad_btn" type="submit" name="csv_delete_user" id="" value="Delete users">
        </form>
    </div>

    <!-- Asign Students to an Employee -->
    <div class="card">
        <h1>Assign Student to Employee</h1>
        <form action="/admin-dashboard" method="POST">
            <label for="student_username">Student username:</label>
            <input type="text" name="student_username" id="student_username"><br>

            <label for="employee_username">Employee username:</label>
            <input type="text" name="employee_username" id="employee_username"><br>

            <input class="good_btn" type="submit" name="join_students" value="Join">
        </form>

        <hr class="admin_hr">

        <h1>Assign Students to Employees from a .csv file</h1>
        <form action="/admin-dashboard" enctype="multipart/form-data" method="POST">
            <label for="csv_file">Select CSV file:</label>
            <input type="file" name="csv_file" id="csv_file">

            <input class="good_btn" type="submit" name="csv_join_students" value="Join">
        </form>
    </div>

    <!-- List Users -->
    <div class="card">
        <h1>List of all Users</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Logout btn -->
     <form action="" method="post">
        <input class="bad_btn" type="submit" name="logout" id="logout" value="Logout">
     </form>
{% endblock body %}

{% block footer %}
    <p>end of app</p>
{% endblock footer %}