{% extends 'base.html' %}

{% block head %}
    <title>Admin Dashboard</title>
{% endblock head %}

{% block header %}
    <header>
        <img src="" alt="Profile Pic">
        <p>My name is...</p>
    </header>
{% endblock header %}

{% block body %}
    <form action="/admin-dashboard" method="POST">
        <h1>Add accounts</h1>

        <label for="email">Email:</label>
        <input type="text" name="email" id="email"><br>

        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>

        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="ADMIN">Admin</option>
            <option value="EMPLOYEE">Employee</option>
            <option value="STUDENT">Student</option>
        </select><br>

        <input type="submit" name="add_user" id="" value="Add">
        <!-- <input type="submit" value="Load from .csv file and add"> -->
    </form>

    <form action="/admin-dashboard" method="POST">
        <h1>Delete accounts</h1>

        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>

        <input type="submit" name="delete_user" id="" value="Delete">
        <!-- <input type="submit" value="Load from .csv file and add"> -->
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}

{% block footer %}
    <h1>end of app</h1>
{% endblock footer %}