{% extends 'base.html' %}

{% block page_title %} Employee Dashboard {% endblock page_title %}

{% block body_class %} class="employee_body" {% endblock body_class %}

{% block header %}
    <img src="" alt="Profile Pic">
    <button class="employee_username">{{ now_user.username }}</button>
{% endblock header %}

{% block body %}
    <!-- News -->
    <div class="card">
        <h1>Post an Announcement</h1>
        <form action="">
            <input type="text" class="large_input">
        </form>
    </div>

    <!-- Student Management -->
    <div class="card">
        <h1>Update Student Info</h1>
        <form action="/employee-dashboard" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>

            <label for="faculty">Faculty:</label>
            <input type="text" id="faculty" name="faculty"><br>

            <label for="domain">Domain:</label>
            <input type="text" id="domain" name="domain"><br>

            <label for="start_year">Start year:</label>
            <input type="number" id="start_year" name="start_year"><br>

            <label for="graduation_year">Graduation year:</label>
            <input type="number" id="graduation_year" name="graduation_year"><br>

            <input type="submit" name="update_student" value="Update" class="good_btn">
        </form>

        <hr class="employee_hr">

        <h1>Update Student Info from .csv</h1>
        <form action="/employee-dashboard" enctype="multipart/form-data" method="POST">
            <input type="file" name="csv_file">
            <input type="submit" name="update_student_csv" value="Update" class="good_btn">
        </form>

        <hr class="employee_hr">

        <!-- My Students -->
        <h1>Students You Manage</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Faculty</th>
                    <th>Domain</th>
                    <th>Start Year</th>
                    <th>End Year</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.user.username }}</td>
                        <td>{{ student.user.email }}</td>
                        <td>{{ student.faculty }}</td>
                        <td>{{ student.domain }}</td>
                        <td>{{ student.start_year }}</td>
                        <td>{{ student.graduation_year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Requests -->
    <div class="card">
        <h1>Answer Questions</h1>
        <form action="/employee-dashboard" method="post">
            <label for="question_id">Question ID:</label>
            <input type="number" name="question_id"><br>

            <label for="employee_answer">Your Answer:</label><br>
            <textarea id="employee_answer" name="employee_answer" rows="5" cols="40" class="textarea"></textarea><br>

            <input type="submit" class="good_btn" name="submit_answer" value="Submit Answer">
        </form>

        <hr class="employee_hr">

        <h1>Student's Questions</h1>
        <table>
            <thead>
                <tr>
                    <th>Question ID</th>
                    <th>From</th>
                    <th>Question</th>
                    <th>Asked At</th>
                    <th>Answered At</th>
                </tr>
            </thead>

            <tbody>
                {% for question in student_questions %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.student.user.username }}</td>
                        <td>{{ question.question_text }}</td>
                        <td>{{ question.asked_at}}</td>
                        <td>{{ question.answered_by_employee_at }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card">
        <h1>Student's Documents Request Log</h1>
        <table>
            <thead>
                <tr>
                    <th>Student Username</th>
                    <th>Document Type</th>
                    <th>Requested At</th>
                    <th>Served At</th>
                </tr>
            </thead>

            <tbody>
                {% for log in all_logs %}
                    <tr>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.document_type }}</td>
                        <td>{{ log.requested_at }}</td>
                        <td>{{ log.served_at}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Logout btn -->
     <form action="" method="POST">
        <input class="bad_btn" type="submit" name="logout" id="logout" value="Logout">
     </form>
{% endblock body %}

{% block footer %}
        <p>end of app</p>
{% endblock footer %}