{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock head %}

{% block body %}
    <div class="card">
        <form action="" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" id=""><br><br>

            <input class="good_btn" type="submit" value="Login">
        </form>
    </div>
{% endblock body %}