{% extends 'base.html' %}

{% block page_title %} Student Dashboard {% endblock page_title %}

{% block body_class %} class="student_body" {% endblock body_class %}

{% block header %}
    <img src="" alt="Profile Pic">
    <button class="student_username">{{ now_user.username }}</button>
{% endblock header %}

{% block body %}
    <!-- News -->
    <div class="card">
        <h1>News</h1>
        <p>Ceva legat de login</p>
        <p>ceva legat de camine...</p>
    </div>

    <!-- About me -->
    <div class="card">
        <h1>About me</h1>
        <label for="faculty">Faculty:</label>
        <button id="faculty" class="student_username">{{ now_user.student_info.faculty }}</button><br>

        <label for="domain">Domain:</label>
        <button id="domain" class="student_username">{{ now_user.student_info.domain }}</button><br>

        <label for="start_year">Start Year:</label>
        <button id="start_year" class="student_username">{{ now_user.student_info.start_year }}</button><br>

        <label for="graduation_year">Graduation Year:</label>
        <button id="graduation_year" class="student_username">{{ now_user.student_info.graduation_year }}</button>
    </div>

    <!-- Pune o intrebare -->
    <div class="card">
        <h1>Pune o intrebare</h1>
        <form action="/student-dashboard" method="POST">
            <label for="question">Question:</label>
            <input type="text" name="question" id="question"><br>

            <input class="good_btn" type="submit" name="submit_question" id="" value="Submit">
        </form>
    </div>

    <!-- Cere un document -->
    <div class="card">
        <h1>Get a document</h1>
        <form action="/student-dashboard" method="POST">
            <label for="document-type">Select a document:</label>
            <select id="document-type" name="document-type">
                <option value="foaie_matricola">Foaie Matricola</option>
                <option value="situatie_scolara">Situatie Scolara</option>
                <option value="adeverinta_student">Adeverinta Student</option>
            </select><br>

            <div id="reason-container" name="reason-container" style="display: none;">
                <label for="reason">Reason for Adeverinta Student:</label>
                <input type="text" id="reason" name="reason">
            </div>

            <input class="good_btn" type="submit" name="request_document" id="" value="Get">
        </form>

        <hr class="student_hr">

        <table>
            <thead>
                <tr>
                    <th>Document Type</th>
                    <th>Requested By</th>
                    <th>Date Requested</th>
                    <th>Date Solved</th>
                </tr>
            </thead>

            {% for request in recent_requests %}
                <tbody>
                    <tr>
                        <td>{{ request.document_type }}</td>
                        <td>{{ request.user.username }}</td>
                        <td>{{ request.requested_at }}</td>
                        <td>{{ request.served_at }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

    <!-- Logout btn -->
     <form action="" method="post">
        <input class="bad_btn" type="submit" name="logout" id="logout" value="Logout">
     </form>
{% endblock body %}

{% block footer %}
        <p>end of app</p>
{% endblock footer %}

{% block js_scripts %}
     <script src="../static/scripts/document_reason.js"></script>
{% endblock js_scripts %}